<nav class="teal darken-4">
  <div class="nav-wrapper container">
    <a href="#!" id="logo" class="brand-logo">Pizza App</a>
      <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <li><a [routerLink]="[{ outlets: { popup: ['login']}}]">Sign in</a></li>
          <li><a routerLink="/order">Make pizza</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
          <li><a routerLink="[{ outlets: {popup: ['login']}}]">Sign in</a></li>
        <li><a routerLink="/order">Make pizza</a></li>
      </ul>
  </div>
</nav>


